.dark {
    width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

.testimonials-section {
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header .tagline {
    display: inline-block;
    padding: 5px 10px;
    font-size: 0.875rem;
    font-weight: bold;
    color: #e0e7ff;
    background-color: #334155;
    border-radius: 9999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header .tagline:hover {
    background-color: #475569;
}

.header h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 20px 0;
}

.header p {
    font-size: 1.25rem;
    color: #cbd5e1;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.testimonial {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: rgb(32, 30, 30);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.testimonial:hover {
    transform: translateY(-10px);
}

.testimonial-content {
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e0e7ff;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-info h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #e0e7ff;
}

.profile-info p {
    font-size: 18px;
    color: #cbd5e1;
}

.quote {
    margin-top: 20px;
    font-size: 22px;
    color: #cbd5e1;
}

@media (max-width: 1024px) {
    .testimonial {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 640px) {
    .testimonial {
        flex: 1 1 100%;
        max-width: 100%;
    }
}